<html>
    <head>
        <%= htmlWebpackPlugin.tags.headTags %>
    </head>
    <body>
        <%= htmlWebpackPlugin.tags.bodyTags %>

        <ul>
            <li>Input.ddd 
                | <a href="files/Input.ddd">Download</a> 
                | <a href="javascript:EsmDownloader.downloadEsmAsJson('files/Input.ddd');">JSON</a>
                | <a href="javascript:EsmDownloader.downloadEsmAsHtml('files/Input.ddd');">HTML</a>
                | <a href="page1-pdf-view.html?filename=files/Input.ddd">PDF</a>
            </li>

            <li>C_20190104_0948_G_Dragut_0000000003XPM001.DDD 
                | <a href="card_data/C_20190104_0948_G_Dragut_0000000003XPM001.DDD">Download</a> 
                | <a href="javascript:EsmDownloader.downloadEsmAsJson('card_data/C_20190104_0948_G_Dragut_0000000003XPM001.DDD');">JSON</a>
                | <a href="javascript:EsmDownloader.downloadEsmAsHtml('card_data/C_20190104_0948_G_Dragut_0000000003XPM001.DDD');">HTML</a>
                | <a href="page1-pdf-view.html?filename=card_data/C_20190104_0948_G_Dragut_0000000003XPM001.DDD">PDF</a>
            </li>

            <li>C_20190311_0723_G_Dragut_0000000003XPM001.DDD 
                | <a href="card_data/C_20190311_0723_G_Dragut_0000000003XPM001.DDD">Download</a> 
                | <a href="javascript:EsmDownloader.downloadEsmAsJson('card_data/C_20190311_0723_G_Dragut_0000000003XPM001.DDD');">JSON</a>
                | <a href="javascript:EsmDownloader.downloadEsmAsHtml('card_data/C_20190311_0723_G_Dragut_0000000003XPM001.DDD');">HTML</a>
                | <a href="page1-pdf-view.html?filename=card_data/C_20190311_0723_G_Dragut_0000000003XPM001.DDD">PDF</a>
            </li>

            <li>C_20200109_1201_G_Dragut_0000000003XPM001.DDD 
                | <a href="card_data/C_20200109_1201_G_Dragut_0000000003XPM001.DDD">Download</a> 
                | <a href="javascript:EsmDownloader.downloadEsmAsJson('card_data/C_20200109_1201_G_Dragut_0000000003XPM001.DDD');">JSON</a>
                | <a href="javascript:EsmDownloader.downloadEsmAsHtml('card_data/C_20200109_1201_G_Dragut_0000000003XPM001.DDD');">HTML</a>
                | <a href="page1-pdf-view.html?filename=card_data/C_20200109_1201_G_Dragut_0000000003XPM001.DDD">PDF</a>
            </li>

            <li>C_20180611_1837_I_Jitescu_0000000007HMZ0.DDD 
                | <a href="card_data/C_20180611_1837_I_Jitescu_0000000007HMZ0.DDD">Download</a> 
                | <a href="javascript:EsmDownloader.downloadEsmAsJson('card_data/C_20180611_1837_I_Jitescu_0000000007HMZ0.DDD');">JSON</a>
                | <a href="javascript:EsmDownloader.downloadEsmAsHtml('card_data/C_20180611_1837_I_Jitescu_0000000007HMZ0.DDD');">HTML</a>
                | <a href="page1-pdf-view.html?filename=card_data/C_20180611_1837_I_Jitescu_0000000007HMZ0.DDD">PDF</a>
            </li>
 
        </ul>
    </body>
</html>
